{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = "Shopify" | t('shopify') %}

{% block content %}

  <h2>{{ 'Shopify Shops' | t('shopify') }}</h2>

  <h3>{{ 'Pull Shop Data' | t('shopify') }}</h3>
  <form method="POST" action="">

    <input type="hidden" name="action" value="shopify-store/shops/pull">
    {{ csrfInput() }}

    {% set siteOptions = [] %}
    {% set allSites = craft.app.getSites().getAllSites() %}

    {% for site in allSites %}
      {% set siteOptions = siteOptions | merge([{
        value: site.id,
        label: site.name
      }]) %}
    {% endfor %}

    {{ forms.checkboxSelectField({
      label: 'Site(s)' | t('shopify'),
      name: 'siteIds',
      options: siteOptions,
      showAllOption: true,
      values: '*',
    }) }}

    {{ forms.lightswitchField({
      label: 'Include Products' | t('shopify'),
      name: 'includeProducts',
      on: false
    }) }}

    <button class="btn submit" type="submit">{{ 'Pull Data' | t('shopify') }}</button>

  </form>


{% endblock %}
